.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    // overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.wrapper-colum {
    height: 100%;
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.main-nav .menus {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-nav .menu-items {
    position: relative;
    // height: 42px;
    padding: 0 20px;
    button {
        width: 100%;
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 18px;
        font-size: 17px;
        text-decoration: none;
        color: #627588;
        font-weight: 500;
        border: none;
        background-color: transparent;
    }
}

.main-nav .dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 10px 15px -3px #ddd, 0 4px 6px -2px #ddd;
    min-width: 10rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}

.main-nav .dropdown.show {
    display: block;
}

.main-nav .dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.boxLogo {
    margin: auto;
    margin-bottom: 20px;
    width: 210px;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }
}

.feature {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    font-size: 14px;
    color: #afb8c2;
    text-transform: uppercase;
    padding-left: 20px;

    span {
        padding-left: 15px;
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 20px;
        height: 1px;
        background-color: #627588;
        top: 45%;
        left: -3%;
    }
}

//
.container {
    display: flex;
    max-width: 226px;
    padding: 0 15px;
    height: 42px;
    align-items: center;
    justify-content: start;
    gap: 18px;
    font-size: 17px;
    text-decoration: none;
    color: #627588;
    font-weight: 500;

    .boxIcon {
        font-size: 22px;
    }

    &:hover {
        background-color: #f5f5f9;
        border-radius: 8px;
    }
}

//
