@import '@styles/variable.module.scss';

.container {
    margin-bottom: 20px;
    .labelInput {
        font-size: 15px;
        color: #404968;
        margin-bottom: 8px;
    }

    .boxInput {
        position: relative;
        width: 90%;

        input {
            width: 100%;
            height: 25px;
            color: #404968;
            font-size: 16px;
            border: 1px solid #dcdfea;
            border-radius: 12px;
            outline: #90a1ea;
            padding: 10px 35px 10px 10px;
            background-color: $white_color;
        }

        .boxIcon {
            position: absolute;
            font-size: 18px;
            top: 15px;
            right: -40px;
            cursor: pointer;
        }

        .errMsg {
            margin-top: 5px;
            font-size: 14px;
            color: red;
        }
    }
}
