$white_color: #fff;
$black_color: #000;
$gray_color: #ccc;
$overlay_color: #0000004d;
$textInput_color: #111322;
$color_404040: #404040;
$color_1a1a1a: #1a1a1a;
$color_f5f5f5: #f5f5f5;
$color_e8e8e8: #e8e8e8;
$color_181821: #181821;
$color_9ba5b3: #9ba5b3;

//Button_color
$primary_color: #f5cc00;
$primary_hover_color: #ffd829;
$transparent_hover_color: rgba(22, 24, 35, 0.02);

//Border_color
$border_gray: #e8eaee;
$border_black: #363636;

$header-height: 65px;
