$white_color: #fff;
$black_color: #000;
$gray_color: #ccc;
$overlay_color: #0000004d;
$textInput_color: #111322;

//Button_color
$primary_color: #f5cc00;
$primary_hover_color: #ffd829;
$transparent_hover_color: rgba(22, 24, 35, 0.02);

//Border_color
$border_gray: #e8eaee;
$border_black: #363636;
